body{
    background: var(--hue, linear-gradient(180deg, #8148AE 0%, #A740A2 100%));
}

.aboutbody{
    
    overflow: hidden;
    

    .header{
        
        top: 50px;
        left: 10%;
        padding: 50px 10%;
        display: flex;
        flex-direction: row;
        

        a{
            text-decoration: none;
            margin-right: 30px;
            transition: all .2s ease-in-out; 
            &:hover { 
                transform: scale(1.1); 
                }
            

        }
        span{
            font-family: 'Cantarell', sans-serif;
            font-size: 24px;
            color: white;
            border: none;
        
            border-width: 1px;
            padding: 10px;
            border-radius: 26px;
            background: #593081;

            @include respond('430px'){
                font-size: 16px;
            };

        }

    }

    .content{
        display: flex;
        padding-inline: 10%;
        gap: 50px;

        @include respond('430px'){
            display: flex;
            flex-direction: column;
        };
    }
    
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        max-width: 700px;


        h1{
            color: #FFF;
            font-family: Oranienbaum;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 3%;

            @include respond('430px'){
                font-size: 48px;
            };
        }
        .sub{
            color: #FFF;
            font-family: Oranienbaum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 3%;

            @include respond('430px'){
                font-size: 30px;
            };
        }
        p{
            color: #FFF;
            font-family: Cantarell;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 3%;

            @include respond('430px'){
                font-size: 20px;
            };
        }
        .contact{
            color: #FFF;
            font-family: Cantarell;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 3%;

            @include respond('430px'){
                font-size: 24px;
            };
        }
        .socials{
            color: #FFF;
            font-family: Cantarell;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;  
            
            @include respond('430px'){
                font-size: 24px;
            };
        }
    }

    .picture{

        max-width: 400px;
        object-fit: contain;

        @include respond('430px'){
            margin-bottom: 30px;
        };
        
        img{
            border-radius: 50%;
        }
    }

//supposed to be in portfolio.scss
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        margin-bottom: 50px;
      }
      .column {
        flex: 33.33%;
        max-width: 33.33%;
        padding: 0 10px;
        position: relative;

        @include respond('430px'){
          flex: 100%;
          max-width: 100%;
        };
      }
    

      .column img {
        margin-top: 8px;
        margin-bottom: 8px;
        vertical-align: middle;
        width: 100%;
      }  

      .cher {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .cher:hover {
        opacity: 0.5;
      }

      .mercy{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .mercy:hover {
        opacity: 0.5;
      }

      .solomon{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .solomon:hover {
        opacity: 0.5;
      }
      .midnight{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .midnight:hover {
        opacity: 0.5;
      }
      .thumbnail{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .thumbnail:hover {
        opacity: 0.5;
      }
      .frog{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .frog:hover {
        opacity: 0.5;
      }
      .master{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .master:hover {
        opacity: 0.5;
      }
      .topleft{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .middleleft{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .bottomleft{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .topright{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .middleright{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .bottomright{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
    .bottomleft{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
      .middle{
        text-align: center;
        font-family: Oranienbaum;
        font-size: 24px;
        color: #FFF;
      }
    }
    



