.aboutbody{
    background: var(--hue, linear-gradient(180deg, #8148AE 0%, #A740A2 100%));

    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        object-fit: cover;
        overflow: hidden;
        span{
            position: absolute;
            top: 50px;
            left: 20%;
            transform: translateX(-50%);
            color: white;
            font-family: 'Cantarell', sans-serif;
            font-size: 24px;
            z-index: 2;
        }
    }
}