/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.banner {
  position: relative;
}
.banner .title {
  font-family: "Oranienbaum", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner .BackgroundImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner .BackgroundImages a {
  position: relative;
  width: 33.33%;
}
.banner .BackgroundImages a img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}
.banner h1 {
  color: #FFF;
  text-align: center;
  text-wrap: nowrap;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 27.5px;
}
@media screen and (max-width: 430px) {
  .banner h1 {
    font-size: 48px;
    letter-spacing: 10px;
  }
}
.banner h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 12px;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .banner h2 {
    font-size: 36px;
    letter-spacing: 5px;
  }
}
.banner .grow {
  transition: all 0.2s ease-in-out;
}
.banner .grow span {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Cantarell", sans-serif;
  font-size: 24px;
  z-index: 2;
}
@media screen and (max-width: 430px) {
  .banner .grow span {
    font-size: 16px;
  }
}
.banner .grow:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 430px) {
  .banner .grow:hover {
    transform: scale(1.05);
  }
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(64, 29, 92, 0.4), rgba(64, 29, 92, 0.4));
  opacity: 0.7;
  pointer-events: none;
}

body {
  background: var(--hue, linear-gradient(180deg, #8148AE 0%, #A740A2 100%));
}

.aboutbody {
  overflow: hidden;
}
.aboutbody .header {
  top: 50px;
  left: 10%;
  padding: 50px 10%;
  display: flex;
  flex-direction: row;
}
.aboutbody .header a {
  text-decoration: none;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}
.aboutbody .header a:hover {
  transform: scale(1.1);
}
.aboutbody .header span {
  font-family: "Cantarell", sans-serif;
  font-size: 24px;
  color: white;
  border: none;
  border-width: 1px;
  padding: 10px;
  border-radius: 26px;
  background: #593081;
}
@media screen and (max-width: 430px) {
  .aboutbody .header span {
    font-size: 16px;
  }
}
.aboutbody .content {
  display: flex;
  padding-inline: 10%;
  gap: 50px;
}
@media screen and (max-width: 430px) {
  .aboutbody .content {
    display: flex;
    flex-direction: column;
  }
}
.aboutbody .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 700px;
}
.aboutbody .about h1 {
  color: #FFF;
  font-family: Oranienbaum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3%;
}
@media screen and (max-width: 430px) {
  .aboutbody .about h1 {
    font-size: 48px;
  }
}
.aboutbody .about .sub {
  color: #FFF;
  font-family: Oranienbaum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3%;
}
@media screen and (max-width: 430px) {
  .aboutbody .about .sub {
    font-size: 30px;
  }
}
.aboutbody .about p {
  color: #FFF;
  font-family: Cantarell;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3%;
}
@media screen and (max-width: 430px) {
  .aboutbody .about p {
    font-size: 20px;
  }
}
.aboutbody .about .contact {
  color: #FFF;
  font-family: Cantarell;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3%;
}
@media screen and (max-width: 430px) {
  .aboutbody .about .contact {
    font-size: 24px;
  }
}
.aboutbody .about .socials {
  color: #FFF;
  font-family: Cantarell;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  .aboutbody .about .socials {
    font-size: 24px;
  }
}
.aboutbody .picture {
  max-width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 430px) {
  .aboutbody .picture {
    margin-bottom: 30px;
  }
}
.aboutbody .picture img {
  border-radius: 50%;
}
.aboutbody .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 50px;
}
.aboutbody .column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 10px;
  position: relative;
}
@media screen and (max-width: 430px) {
  .aboutbody .column {
    flex: 100%;
    max-width: 100%;
  }
}
.aboutbody .column img {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  width: 100%;
}
.aboutbody .cher {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .cher:hover {
  opacity: 0.5;
}
.aboutbody .mercy {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .mercy:hover {
  opacity: 0.5;
}
.aboutbody .solomon {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .solomon:hover {
  opacity: 0.5;
}
.aboutbody .midnight {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .midnight:hover {
  opacity: 0.5;
}
.aboutbody .thumbnail {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .thumbnail:hover {
  opacity: 0.5;
}
.aboutbody .frog {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .frog:hover {
  opacity: 0.5;
}
.aboutbody .master {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.aboutbody .master:hover {
  opacity: 0.5;
}
.aboutbody .topleft {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .middleleft {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .bottomleft {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .topright {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .middleright {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .bottomright {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .bottomleft {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}
.aboutbody .middle {
  text-align: center;
  font-family: Oranienbaum;
  font-size: 24px;
  color: #FFF;
}/*# sourceMappingURL=index.css.map */